@import url(Shop.css);
@import url(Contact.css);
@import url(Animaction.css);
@import url(Font.css);
@import url(Menu.css);
@import url(Scroll.css);
@import url(Link.css);
@import url(All.css);

* {
    box-sizing: border-box;
}
:root {
    --bg_light: #dbcccc;
    --bg_dark:#262626;
    --blue: #1591ef;
    --dark_blue: #0e65a8;
}
body {
    background-image: url("../Images/bg_dark.png");
    background-size: 100%;
    background-color: var(--bg_light);
    overflow-x: hidden ;
    margin: 0;
    font-family: "Lato", sans-serif;
}