@import url(shop.css);
@import url(Contact.css);

:root {
    --bg_light: #dbcccc;
    --bg_dark:#262626;
    --blue: #1591ef;
    --dark_blue: #0e65a8;
}
body {
    background-image: url("../Images/bg_dark.png");
    background-size: 100%;
    background-color: var(--bg_light);
    overflow-x: hidden ;
    margin: 0;
    font-family: "Lato", sans-serif;
}

/* % blink */
.blink {
animation-duration: 1.2s;
animation-iteration-count: infinite;
animation-name: blink;
}
@keyframes blink {
0% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 100;}
100% {opacity: 100;}
}

/* * Font */
.glowny {
    color: var(--blue); 
    font-size: 65px;
    font: "Archivo Black" ;
    font-weight: bold;
    position: relative;
    margin-left: 250px;
    margin-top: 100px;
    text-transform: uppercase;
    cursor: default;
}
.glowny .two {
    margin-left: -250px;
    margin-top: -100px; 
}
.glowny img {
    position: absolute;
    margin-left: 250px;
    margin-top: 75px;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    border: solid 3px white;
    -webkit-box-shadow: 20px 18px 37px -1px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 20px 18px 37px -1px rgba(0, 0, 0, 0.72);
    box-shadow: 20px 18px 37px -1px rgba(0, 0, 0, 0.488);
}

/* ^ Menu */
.menu {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.558);
    background: linear-gradient(50deg, rgba(0, 0, 0, 0.363), rgba(0, 85, 149, 0.494) );
    padding-left: 40px;
    backdrop-filter: blur(3px);
    text-transform: capitalize;
}
.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: active, 0.3s;
    margin: 10px;
    margin-left: 5px;
}
.menu a:hover {
    background-color: rgba(221, 221, 221, 0.55);
    color: black;
    border-radius: 6px;
} 
.menu a.active {
    background-color: var(--blue);
    color: white;
    border-radius: 6px;
}
/* % scroll */
/* width */
::-webkit-scrollbar {
    width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #3d3d3d; 
} 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #5c5c5c; 
} 
 /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--blue); 
}
.container {
    background-color: rgba(51, 51, 51, 0.558);
    background: linear-gradient(50deg, rgba(99, 99, 99, 0.363), rgba(0, 85, 149, 0.494) );
    border-radius: 20px;
    margin-left: 110px;
    margin-top: 80px;
    height: 400px;
    width: 600px;
    position: relative;
    cursor: default;
}
.text__container {
    color: white;
    font-size: 20px;
    font: "Verdana";
    position: absolute;
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 200px;
    height: 490px;
    width: 490px;
    background-color: transparent ;
    border-radius: 20px;
    line-height: 40px;
    text-align: justify;
}
/* @ link */
.link {
    color: var(--blue);
    text-decoration: none;
    font-size: 20px;
    position: relative;
    border-left: 0;
}
.link:hover {
    color: rgb(66, 114, 246);
    text-shadow: #262626 2px;
}
/*
@media only screen and (max-width: 500px){
body {
    overflow: hidden; }
.glowny {
    font-size: 55px;
    margin-left: 45px;
    margin-top: 23px; }
.menu {
    padding-left: 0px; }
.menu a {
    padding: 12px 14px;
    text-decoration: none;
    font-size: 13px;
    transition: active, 0.3s;
    margin: 10px;
    margin-left: 5px;}
.container { 
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    height: 350px;
    max-width: 420px; }
.text__container {
    font-size: 16px;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 660px;
    width: 360px;
    border-radius: 20px;
    line-height: 20px; }
.link {
    font-size: 16px; }
.glowny img {
    margin-left: 1000000000px;
    margin-top: 0;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    border: solid 3px white; }
    }
@media only screen and (max-width: 400px){
body {
    overflow: hidden; }
.glowny{
    font-size: 45px;
    margin-left: 50px;
    margin-top: 50px; }
.menu {
    padding-left: 0px; }
.menu a {
    font-size: 13px; }
.container { 
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    height: 350px;
    width: 360px; }
.text__container {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 200px;
    height: 460px;
    width: 320px;
    border-radius: 20px;
    line-height: 20px; }
    .link {
        font-size: 18px; }
.glowny img {
    margin-left: 1000000000px;
    margin-top: 0;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    border: solid 3px white; }
}
@media only screen and (max-width: 350px){
body {
    overflow: hidden;}
.glowny{
    font-size: 45px;
    margin-left: 50px;
    margin-top: 50px; }
.menu {
    padding-left: 0px; }
.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 13px;
    transition: active, 0.3s;
    margin: 10px;
    margin-left: 5px; }
.container { 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    height: 350px;
    max-width: 330px; }
.text__container {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 200px;
    height: 660px;
    width: 290px;
    border-radius: 20px;
    line-height: 20px; }
.link {
    font-size: 18px; }
.glowny img {
    margin-left: 1000000000px;
    margin-top: 0;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    border: solid 3px white; }
}
@media only screen and (max-width: 280px){
body {
    overflow: hidden; }
.glowny{
    font-size: 45px;
    margin-left: 30px;
    margin-top: 15px; }
.menu {
    padding-left: 0px; }
.menu a {
    padding: 7px 7px;
    text-decoration: none;
    font-size: 10px;
    transition: active, 0.3s;
    margin: 10px;
    margin-left: 5px;}
.container { 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    height: 350px;
    max-width: 260px; }
.text__container {
    font-size: 15px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 660px;
    width: 220px;
    border-radius: 20px;
    line-height: 20px; }
.link {
    font-size: 15px; }
.glowny img {
    margin-left: 1000000000px;
    margin-top: 0;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    border: solid 3px white; }
}
@media only screen and (max-width: 240px){
body {
    overflow: hidden; }
.glowny {
    font-size: 35px;
    margin-left: 30px;
    margin-top: 15px; }
.menu {
    padding-left: 0px; }
.menu a {
    padding: 7px 5px;
    text-decoration: none;
    font-size: 9px;
    transition: active, 0.3s;
    margin: 10px;
    margin-left: 5px;}
.container { 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    height: 350px;
    max-width: 220px; }
.text__container {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 660px;
    width: 180px;
    border-radius: 20px;
    line-height: 20px; }
.link {
    font-size: 15px; }
.glowny img {
    margin-left: 1000000000px;
    margin-top: 0;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    border: solid 3px white; }
}
  */